# Remove other profiles from repo
/Default

# Remove r2modman files
/CheeseboyPack/doorstop_config.*
/CheeseboyPack/winhttp.*
/CheeseboyPack/BepinEx/monomod

# Remove scripts
extract_modlist.py
rename_manifest.bat
__pycache__